.inputListContact {
  height: 24px;
  outline: none;
  border: none;
  border-radius: 4px;
  padding-left: 5px;
  color: #2ba62b;
  background-color: #1d1b1b;
  font-size: 16px;
  font-weight: 600;
  font-family: inherit;
  margin-right: 5px;
}

.inputListContactEdit {
  composes: inputListContact;
  background-color: #2ba62b;
  color: #1d1b1b;
}

.widthName {
  width: 300px;
}
.widthNumber {
  width: 120px;
}

.btn {
  cursor: pointer;
  margin-right: 5px;
  width: 100px;
  height: 25px;
  border: 1px solid #32cd32;
  font-family: inherit;
  font-weight: 600;
  border-radius: 4px;
  background-color: inherit;
  color: inherit;
}

.btn:hover {
  background-color: #32cd32;
  color: #1d1b1b;
}
