.item {
  display: flex;

  /* align-items: center; */
}

/* .item p :not(:last-child) {
  margin: 10px 20px;
} */
.equal {
  display: flex;
  justify-content: end;
  align-items: baseline;
  width: 200%;
}

.equal p {
  min-width: 100px;
  /* margin-right: auto; */
  /* margin-left: auto; */
  /* margin-right: 20px; */
}

.wrapper_contact_date {
  display: flex;
  align-items: baseline;
  width: 100%;
}
.wrapper_contact_date div {
  justify-content: space-between;
}

.btn {
  cursor: pointer;
  margin-left: 5px;
  width: 100px;
  height: 25px;
  border: 1px solid #32cd32;

  border-radius: 4px;
  background-color: inherit;
  color: inherit;
}

.btn:hover {
  background-color: #32cd32;
  color: #1d1b1b;
}
