.label_filter {
  margin: 20px auto 0 auto;
  display: block;
  width: 200px;
  height: 60px;
}

.input_filter {
  width: 100%;
  margin-top: 8px;
  height: 35px;
  background-color: inherit;
  border: 1px solid darkgray;
  border-radius: 4px;
  outline: none;
  padding-left: 10px;
  color: #2ba62b;
  font-size: 18px;
  font-weight: 700;
  font-family: inherit;
}
.input_filter:focus {
  background-color: #2ba62b;
  border: 1px solid #2ba62b;
  color: #1d1b1b;
}
.input_filter:hover {
  border: 1px solid #2ba62b;
}
