.link {
  display: inline-block;
  text-decoration: none;
  padding: 14px;
  font-weight: 700;
  color: darkgrey;
}
.link:hover {
  color: #32cd32;
  font-weight: 700;
}

/* .link.active {
  color: #32cd32;
} */
