form {
  display: flex;
  flex-direction: column;

  gap: 15px;

  border: 1px solid gray;
  padding: 10px;
  width: 400px;
}

label {
  font-size: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;

  width: 396px;
}

input {
  height: 25px;
  background-color: inherit;
  border: 1px solid rgb(180, 180, 180);
  outline: none;
  padding-left: 10px;
  color: inherit;
}

.add {
  cursor: pointer;

  width: 396px;
  height: 25px;
  border: 1px solid #32cd32;
  border-radius: 4px;
  background-color: inherit;
  color: inherit;
}
.add:hover {
  background-color: #32cd32;
  color: #1d1b1b;
  font-weight: 700;
}
