@import-normalize; /* bring in normalize.css styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  background-color: #1d1b1b;
  color: #32cd32;

  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0 20px;
  font-family: 'Courier New', Courier, monospace;
}

h2,
p {
  margin: 3px;
}
