.counterVisibleContacts {
  width: max-content;
  margin: 0px auto 20px auto;
}

.wrapper_contactList {
  margin: 0 auto 50px auto;
}

.oll {
  display: block;
  margin: 0 auto 20px auto;
  width: fit-content;
}

.contactListItem {
  margin-bottom: 5px;
  width: 100%;
}
